@font-face {
  font-family: "Moglan";
  src: url(assets/Moglan.ttf) format("truetype");
}

:root {
  --primary-color: #f5221b;
  --black-color: #1f1f1f;
  --background-color: #f7f4e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 1200px;
  background-color: var(--background-color);
  margin: 0 auto;
}

h1 {
  width: 100%;
  text-align: right;
  font-size: 18.8vw;
  font-family: "Moglan", serif;
  color: var(--primary-color);
  animation: text 0.8s ease-out;
  font-weight: 500;
}

#underline {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: var(--primary-color);
  transform: translateY(-3vw);
  animation: underline 0.8s ease-out;
}

.image {
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

#image1 {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  opacity: 0;
  animation: zoomOut 0.6s ease-in-out 0.5s forwards;
}

/* Styliser la section */
.part1 {
  height: 80vh;
  min-height: 600px;
  max-height: 700px;
  display: flex;
  padding: 5% 0;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 25vh 0 25vh 0;
}

/* Styliser l'image */
#right {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.containerImage {
  height: 100%;
  width: 80%;
}

.part1 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styliser le texte */
.part1 .text {
  width: 40%;
  /* margin: auto 0; */
  height: 100%;
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.text {
  font-size: 16px;
  color: var(--black-color);
  font-family: "Urbanist", sans-serif;
}

.title2 {
  font-size: 80px;
  color: var(--black-color);
  font-family: "Moglan", serif;
  line-height: 1.2;
}

.hyperlink button {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 20px;
  border: none;
  background-color: var(--black-color);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s !important;
  text-align: left;
  font-family: "Urbanist", sans-serif;
}

.hyperlink button:hover {
  background-color: #303030;
}

.reservation {
  height: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reservation p {
  font-weight: 700;
}

.iconCalendar {
  font-size: 50px;
}

/* TODO Button carrousel + JS */

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.carousel button {
  border-radius: 100%;
  width: 55px;
  height: 55px;
  border: solid 2px var(--black-color);
  transition: all 0.3s ease;
}

.carousel button i {
  font-size: 22px;
  color: var(--black-color);
  transition: all 0.3s ease;
}

#active {
  background-color: var(--black-color);
  color: var(--background-color);
}

#active i {
  color: var(--background-color);
}

#inactive {
  background-color: var(--background-color);
  color: var(--black-color);
}

#inactive i {
  color: var(--black-color);
}

.part2 {
  height: 80vh;
  min-height: 600px;
  max-height: 700px;
  display: flex;
  padding: 5% 0;
  flex-direction: row;
  justify-content: space-between;
  margin: 25vh 0 15vh 0;
}

.left2 {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.right2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Urbanist", sans-serif;
}

.containerImage2 {
  position: absolute;
  top: -50px;
  left: 50px;
  height: 400px;
  width: 250px;
}

.containerImage3 {
  position: absolute;
  bottom: -50px;
  left: 150px;
  height: 400px;
  width: 350px;
}

.part2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnVideo {
  height: 150px;
  width: 150px;
  font-family: "Urbanist", sans-serif;
  position: absolute;
  bottom: 0;
  left: 50px;
  background-color: #ffffff81;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  border: none;
  transition: 0.4s !important;
}

.btnVideo:hover {
  background-color: #ffffffb3;
  cursor: pointer;
}

.btnVideo i {
  font-size: 40px;
  color: var(--black-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.iconPalette {
  font-size: 50px;
}

.discover {
  height: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discover p {
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  text-align: center;
}

footer p {
  margin: 5px 0;
  font-family: "Urbanist", sans-serif;
  font-size: 10px;
  color: #303030;
  font-weight: 200;
}

footer a {
  text-decoration: underline #303030;
  color: #303030;
  font-weight: 500;
}

@media screen and (min-width: 1342px) {
  h1 {
    font-size: 251px;
  }
  #underline {
    transform: translateY(-40px);
  }
}

@keyframes zoomOut {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes text {
  from {
    opacity: 0;
    transform: translateY(15%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes underline {
  from {
    width: 70%;
  }
  to {
    width: 100%;
  }
}
